<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style>
        .demo {
            width: 200px;
            height: 50px;
        }

        .text {
            padding-left: 200px;
        }

        .header {

            height: 100%;
        }

        h1 {
            color: red;
            padding-left: 335px;
            position: absolute;
        }

        .seach {
            padding-left: 1000px
        }

        .seach-input {
            width: 200px;
            height: 36px;
        }
    </style>
</head>

<body>
    <div class="header">
        <H1>SIM SỐ</H1>
        <div class="seach">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
        <div class="text">
            <a href="/page-user"><button type="button" class="btn btn-outline-success demo">Nhân
                    Viên</button></a>
            <a href="/page-daili"><button type="button" class="btn btn-outline-danger demo">Đại
                    Lí</button></a>
        </div>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Thời Gian</th>
                    <th scope="col">Số Sim</th>
                    <th scope="col">Giá Nhập</th>
                    <th scope="col">Giá Bán</th>
                    <th scope="col">Đại Lý</th>
                    <th scope="col">Loại giao dịch</th>
                    <th scope="col">Phí giao hàng</th>
                    <th scope="col">Đại lý hỗ trợ</th>
                    <th scope="col">Nhân Viên</th>
                    <th scope="col">Trạng Thái</th>

                </tr>
            </thead>

            <tbody id="cart-data">
                <% for(var i = 0; i < page_data.length;i++){ %>
                <tr>
                    <th scope="row"> <%= i+1  %> </th>
                    <td><%= page_data[i].createdAt.toLocaleString() %></td>
                    <td><%= page_data[i].sim %></td>
                    <td><%= page_data[i].entryPrice %></td>
                    <td><%= page_data[i].price %></td>
                    <td><%= page_data[i].name %></td>
                    <td><%= page_data[i].typeTrade %></td>
                    <td><%= page_data[i].fee %></td>
                    <td><%= page_data[i].agencySupport %></td>
                    <td><%= page_data[i].user %></td>
                    <td><%= page_data[i].status %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination list-page-link">
                <li class="page-item previous" val="<%=i%>"><a class="page-link" href="#">Previous</a></li>
                <% for(var i = 1; i <= totalPageLink;i++){ %>
                <li class="page-item li-link" val="<%= i %>"><a class="page-link" href="#"> <%= i %> </a></li>
                <% } %>
                <li class="page-item next" val="<%=i%>"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
</body>
<script>
      $(".next").click(function () {
        var indexPage = parseInt($(this).attr("val"));
        var totalPage =parseInt( $(".li-link").last().attr("val"))
        if(indexPage >= totalPage){
            $(this).hide();
            $(this).attr("val",0);
            page(totalPage);
            return;
        }else{
            $(this).show();
            $(this).attr("val",indexPage+1);
            $('#cart-data').html("")
            page(indexPage+1)
        }
    
    })
    // $(".previous").click(function () {
        
    //     var previous = $(this).attr("val")
    //     $('#cart-data').html("")
    //     page(parseInt(indexPage)-1)
    // })
   
    $(".li-link").click(function () {
         indexPage = parseInt($(this).attr("val"))
        $('#cart-data').html("")
        page(indexPage)
    })
    function list_link_page() {
        $.ajax({
            url: "/cart/totalPageLinkCart",
            type: "get"
        }).then(function (data) {
            for (var i = 1; i <= data; i++) {
                var template = `
                <li class="page-item li-link" id="${i}"><a class="page-link" href="#">${i}</a></li>
                `
                $(".previous").append(template)
            }
           


            
        })
    }
    function page(numberPage) {
        $.ajax({
            url: "/cart/page/" + numberPage,
            type: "get"
        }).then(function (data) {
            console.log(data);
            for (var i = 0; i < data.length; i++) {
                var template = `
                     <% for(var i = 0; i < page_data.length;i++){ %>
                    <tr>
                        <th scope="row"> <%= i+1  %> </th>
                        <td><%= page_data[i].createdAt.toLocaleString() %></td>
                        <td><%= page_data[i].sim %></td>
                        <td><%= page_data[i].entryPrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></td>
                        <td><%= page_data[i].price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></td>
                        <td><%= page_data[i].idAgency.name %></td>
                        <td><%= page_data[i].typeTrade %></td>
                        <td><%= page_data[i].fee.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></td>
                        <td><%= page_data[i].agencySupport.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}) %></td>
                        <td><%= page_data[i].status %></td>
                        <td><%= page_data[i].idUser.name %></td>
                    </tr>
                    <% } %>
                    `
                $("#cart-data").append(template);
            }

        })
    }
</script>

</html>